* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  max-width: 1000px;
}

.highlight {
  color:#ffa500;
}

.mouseHover {
  background-color: #ffd39b;
}

@media (min-width:786px) { 
  body {
    width: 70%;
    margin: 0 auto;
  }
} 
