* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  max-width: 1000px;
}

.highlight {
  color: #ffa500;
}

.mouseover {
  background-color: #ffd39b;
}


.mejs__inner .mejs__controls, .mejs__captions-button > .mejs__captions-selector {
  background: #70787e; 
}

.mejs__time {
  color: #fff;
  font-size: 1.1em; 
}  
.mejs__time-total {
  background-color: #fff; 
}
.mejs__time-buffering {
  background-color: #56768F; 
}
.mejs__time-current {
  background-color: #56768F; 
}
.mejs__time-hovered {
  background-color: #FFEECD; 
}
.mejs__time-float {
  background-color: #B5B48D; 
}


@media (min-width:786px) { 
  body {
    width: 70%;
    margin: 0 auto;
  }
} 
